imjoy
imjoy-rpc>=0.3.10
geojson
read_roi
palettable
descartes
imageio
#numpy==1.18.0
#tensorflow==2.3.1
#ipykernel
#segmentation_models
tqdm
janus==0.6.1
folium==0.2.1
torch>=1.7.0
torchvision>=0.8.0
cellpose@git+https://github.com/oeway/cellpose@convert-keras#egg=cellpose
#albumentations
pytest
shapely
